@page "/"

<p>Hello, @name.ToUpper()</p>

<div>
    <h3>Movie</h3>
    <MoviesList Movies="movies" >
        <NullTemplate>
                <span style="color:red">This is loading ...</span>
        </NullTemplate>
        <EmptyTemplate>
            <span style="color:blue">No Records to see</span>
        </EmptyTemplate>

    </MoviesList>
   

</div>
@code{
    private List<Movie> movies;
    protected override void OnInitialized()
    {
        //movies = new List<Movie>()
        //{
        //           new Movie(){Title = "<b>Spider-Man: Far From Home</b>", ReleaseDate = new DateTime(2019, 7, 2)},
        //    new Movie(){Title = "<i>Moana</i>", ReleaseDate = new DateTime(2019, 7, 2)},
        //    new Movie(){Title = "<b>Spaceballs</b>", ReleaseDate = new DateTime(2019, 7, 2)}
        //};
    }

    string name = "Tanner";




}