@page "/"
@inject Helpers.IRepository repository

<p>Hello, @name.ToUpper()</p>

<div>
    <h3>Movie</h3>
    <MoviesList Movies="movies" />
      
    <button @onclick="AddNewMovie">Add new movie</button>


   

</div>
@code{
    private List<Movie> movies;
    protected async override Task OnInitializedAsync()
    {
        
        movies = repository.GetMovies();
    }
    private void AddNewMovie()
    {
        movies.Add(new Movie() { Title = "Sameple", ReleaseDate = DateTime.Today });
    }

    string name = "Tanner";




}