<h3>MoviesList</h3>

@if (Movies == null)
{
<img src="https://media1.giphy.com/media/3oEjI6SIIHBdRxXI40/200.gif" alt="Alternate Text" />
}
else if (Movies.Count == 0)
{
    <text>There are no records...</text>
}
else
{
    foreach (var movie in Movies)
    {
        <IndividualMovie Movie="movie"/>
    }
}


@code {

    [Parameter] public List<Movie> Movies { get; set; }

    protected  override void OnInitialized()
    {

   
    }


}
